/* footer.css */

footer {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 500px;
    margin-left: 300px;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    margin: 0 0px;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: white;
    margin-right: 10px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  