.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    width: 180px;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    font-weight:300;
    font-size: 14px;
    flex-wrap: wrap;
}

.nav-list li{
    text-align: center;

}

.nav-list li:not(:last-child){
    margin-right: 100px;
}

.nav-list a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .nav-list:not(:last-child){
        margin-right: 0;
        margin-bottom: 10px;
    }
}